body {
  background-image: url("https://images.pexels.com/photos/4321468/pexels-photo-4321468.jpeg?cs=srgb&dl=pexels-jess-vide-4321468.jpg&fm=jpg");
  background-size: 100%;
}

h1 {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  color: cyan;
}

h6 {
  margin: 0%;
  color: cyan;
}

p {
  text-align: left;
  font-size: 14px;
  color: orange;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  font-size: 16px;
  list-style: none;
  color: hotpink;
}

.link {
  color: white;
}

.link:hover {
  color: #eb6e4c;
  text-decoration: none;
}
