.App {
  max-width: 600px;
  padding: 5px;
  margin: 0%;
  max-width: 650px;
}

body {
  background-image: url("https://images.pexels.com/photos/4321468/pexels-photo-4321468.jpeg?cs=srgb&dl=pexels-jess-vide-4321468.jpg&fm=jpg");
  background-size: 100%;
}

h1 {
  color: #14a3b8;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  position: relative;
  bottom: -20px;
}

h6 {
  margin: 0%;
  color: #14a3b8;
  text-transform: capitalize;
}

p {
  text-align: left;
  font-size: 14px;
  color: orange;
  font-weight: bold;
  margin-bottom: 0;
}

footer {
  font-size: 20px;
  color: orange;
  line-height: 0px;
  position: relative;
  left: 35px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  font-size: 14px;
  list-style: none;
  color: hotpink;
}

.link {
  color: white;
}

.link:hover {
  color: #eb6e4c;
  text-decoration: none;
}
