.SearchEngine {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  padding: 20px;
  margin: 5%;
  border-radius: 20px;
}

#forecast-icon {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

#main-temperature.celsius,
#main-temperature.fahrenheit {
  font-size: 70px;
  position: relative;
  right: 70px;
  color: yellow;
}
.temperature-type {
  font-size: 18px;
  position: relative;
  top: -80px;
  left: 10px;
  color: yellow;
}
