.SearchEngine {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  padding: 20px;
  margin: 5%;
  border-radius: 20px;
  max-width: 650px;
}

#forecast-icon {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

.forecast-icon {
  height: 130px;
  width: 130px;
}

.temperature-type {
  font-size: 18px;
  position: relative;
  top: -60px;
  color: #288775;
}
